---
import Layout from "../../layouts/Layout.astro";
const response = await fetch(
  "https://services.arcgis.com/fLeGjb7u4uXqeF9q/arcgis/rest/services/free_meal_sites/FeatureServer/0/query?where=1%3D1&objectIds=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&resultType=none&distance=0.0&units=esriSRUnit_Meter&relationParam=&returnGeodetic=false&outFields=*&returnGeometry=true&featureEncoding=esriDefault&multipatchOption=xyFootprint&maxAllowableOffset=&geometryPrecision=&outSR=&defaultSR=&datumTransformation=&applyVCSProjection=false&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&returnQueryGeometry=false&returnDistinctValues=false&cacheHint=false&collation=&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&returnZ=false&returnM=false&returnTrueCurves=false&returnExceededLimitFeatures=true&quantizationParameters=&sqlFormat=none&f=pjson&token="
);
const data = await response.json();
const sites = data.features.filter(
  (site) =>
    site.attributes.zip_code === "19104" ||
    site.attributes.zip_code === "19131" ||
    site.attributes.zip_code === "19139" ||
    site.attributes.zip_code === "19143" ||
    site.attributes.zip_code === "19151"
);
---

<Layout>
  <h1>Food in West Philly</h1>

  <ul class="list-none">
    {
      sites.map((site) => (
        <li class="py-3">
          {site.attributes.site_name}
          <br />
          {site.attributes.address}
          <br />
          {site.attributes.zip_code}
          <br />
          {site.attributes.phone_number}
          <br />
          {site.attributes.category_type}
        </li>
      ))
    }
  </ul>
</Layout>
